#cloud-config
timezone: UTC

package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - git

runcmd:
  - EBS_DEVICE=$(lsblk | grep -e disk | awk '{sub("G","",$4)} {if ($4+0 > 10) print $1}')
  - mkdir -p /data
  - mount /dev/"${EBS_DEVICE}" /data
  - echo -e "UUID=$(lsblk -o +uuid /dev/"${EBS_DEVICE}" | grep "${EBS_DEVICE}" | awk '{print $8}') \t /data \t ext4 \t defaults \t 0 \t 0" >> /etc/fstab
  - git clone https://github.com/bboerst/tpotce -b bboerst-updates-v2 /root/tpot
  - /root/tpot/iso/installer/install.sh --type=auto --conf=/root/tpot.conf
  - rm /root/tpot.conf
  - /sbin/shutdown -r +5

# The contents of tpot.conf will be base64 encoded and appended to this file
# via the terraform configuration in main.tf
#
# Make sure there are no trailing new lines after "permissions" below
write_files:
  - encoding: b64
    owner: root:root
    path: /root/tpot.conf
    permissions: '0600'
